/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Estilos das seções */
section {
    padding: 50px;
    text
